body{
    min-height: 100%;
    min-width: 100%;
    background-color: #dddddd;
}

form{
    width: 60%;
    position: relative;
        left:20%;
        top:20%;
    text-align: center;
}

form p{
    font-size: 30px;
    font-family: bookman old style;
    font-weight: bold;
}